.movieContainer{
	padding: 20px;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.movieTitle{
	font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

.moviePoster{
	display: flex;
	justify-content: center;
	align-items: center;
}