.searchContainer{
	width: 30%;
	position:relative;
	margin: 0 auto;
}

.autoSuggestInput {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.searchContainer ul{
	list-style-type: none;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    position: absolute;
    border: 1px solid #e0e0e0;
    background: white;
}
.searchContainer li{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
}
.searchContainer li:last-child{
	border-bottom: 0px !important
	}
.searchContainer li:hover{
	background:#f4f4f4 
}